@model Notification

<link rel="stylesheet" href="~/css/notification.css" asp-append-version="true" />

<div class="notification" data-id="@Model.FollowerId">
    @Model.FollowerId started following you
</div>