@model Notification

<link rel="stylesheet" href="~/css/notification.css" asp-append-version="true" />

<div class="messageNotification notification" data-id="@Model.SenderId">
    @Model.Message
</div>
