@model Notification

<link rel="stylesheet" href="~/css/notification.css" asp-append-version="true" />

<div class="notification" data-tweet-id="@Model.SenderId">
    You have new message from @Model.SenderId
    <div class="mostRecentMessage">
        @Model.Message
    </div>
</div>
