@model Notification

<link rel="stylesheet" href="~/css/notification.css" asp-append-version="true" />

<div class="tweetNotification notification" data-id="@Model.TweetId">
    @Model.Message
</div>
