@model List<ApplicationUser>

<link rel="stylesheet" href="~/css/listHeader.css" asp-append-version="true" />

@if (Model.Count == 0)
{
    <h3 class="better-h3">No followers/following</h3>
}
else
{
    <div class="row">
        @foreach(var follower in Model)
        {
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@follower.UserName</h5>
                        <p class="card-text">More details about the user.</p>
                        <a asp-controller="User" asp-action="Index" asp-route-id="@follower.Id" class="btn btn-primary">View Profile</a>
                    </div>
                </div>
            </div>
        }
    </div>
}


