@model IList<TwitterClone.Data.Tweet>
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager

<style>
    /* General Styles */
.hidden-username {
    display: none;
}

/* Tweet Form Styles */
.tweet-form-container {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #e1e8ed;
}

.user-avatar {
    margin-right: 15px;
    /* Add user avatar styles here */
}

.tweet-input-container {
    flex-grow: 1;
}

.tweet-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
    resize: none;
}

.tweet-action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.tweet-submit-btn {
    background-color: #1DA1F2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

.tweet-submit-btn:hover {
    background-color: #0c85d0;
}

</style>

@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />


@if (SignInManager.IsSignedIn(User))
{
    @* <h1>Create Tweet</h1> *@
    @* <form action="@Url.Action("Create", "Home")" method="post"> *@
    <form id="tweetCreationForm" method="post" asp-controller="Home" asp-action="Create">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" value="@User.Identity.Name" readonly><br><br>
        
        <label for="tweet">Tweet: </label>
        <textarea id="tweet" name="tweet" rows="4" cols="50" maxlength="280" required></textarea><br><br>
        
        <button type="submit" class="btn btn-primary">Post Tweet</button>
    </form>
    @* <div class="tweet-form-container">
        <div class="user-avatar">
            <!-- Put the user's avatar image here -->
        </div>
        <div class="tweet-input-container">
            <input type="text" id="username" name="username" value="@User.Identity.Name" readonly class="hidden-username">
            <textarea id="tweet" name="tweet" rows="4" cols="50" maxlength="280" required placeholder="What's happening?" class="tweet-input"></textarea>
            <div class="tweet-action-buttons">
                <button type="submit" class="tweet-submit-btn">Tweet</button>
            </div>
        </div>
    </div> *@

}
else
{
    <p>You need to <a href="/Identity/Account/Login">login</a> to post tweets.</p>
}

@* <h1>Recent Tweets</h1> *@

<ul id="tweetFeed">
    @{
        var TopLevelTweets = Model.Where(t => t.ParentTweetId == null);
    }
    @foreach (var tweet in TopLevelTweets)
    {
        <partial name="_TweetPartial" model="@tweet" />
    }
</ul>
