@model IList<Tweet>
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager

<link rel="stylesheet" href="~/css/homeIndex.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />


@if (SignInManager.IsSignedIn(User))
{
    <div class="tweet-form-container">
        <form id="tweetCreationForm" method="post" asp-controller="Tweet" asp-action="Create">
            <input type="text" id="username" name="username" value="@User.Identity.Name" hidden><br><br>
            
            <textarea id="tweet" name="tweet" rows="4" cols="50" maxlength="280" required placeholder="What's happening?" class="tweet-input"></textarea>
            
            <div class="tweet-action-buttons">
                <button type="submit" class="tweet-submit-btn">Tweet</button>
            </div>
        </form>
    </div>
}
else
{
    <p>You need to <a href="/Identity/Account/Login">login</a> to post tweets.</p>
}

<ul id="tweetFeed">
    @{
        var TopLevelTweets = Model.Where(t => t.ParentTweetId == null);
    }
    @foreach (var tweet in TopLevelTweets)
    {
        <partial name="_TweetPartial" model="@tweet" />
    }
</ul>
