@model Tuple<Tweet, IEnumerable<Tweet>>

<link rel="stylesheet" href="~/css/listHeader.css" asp-append-version="true" />

<div>

    <partial name="_TweetPartial" model="@Model.Item1" />

    @if (Model.Item2 == null || !Model.Item2.Any())
    {
        <div class="alert alert-info">
            <p>There are no replies to display.</p>
        </div>
    }
    else
    {
        <div class="better-h3">
            <h3>Replies</h3>
        </div>
        <ul>
            @foreach (var tweet in Model.Item2)
            {
                <li>
                    <partial name="_TweetPartial" model="@tweet" />
                </li>
            }
        </ul>
    }
</div>